.black {
	background:black;
	color: white;	
}
.flex {
	display: flex;
	color: #ccc;
}

.menu {
	background: green;
	color: fuchsia;
}
.blue {
	background: blue;
	color: yellow;
	border: solid 3px #23dd11;
}